.emotion{
  background: url(../images/sprite-emo.png) no-repeat top left;

  display: -moz-inline-box;
  display: inline-block;
  /display: inline;
  /zoom: 1;
}

.emotion-palet{
}

.emotion-palet li{
  float:left;
  padding:1px;
}

.sprite-emo-24hours{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-emo-airplane{ background-position: -17px 0; width: 16px; height: 16px; } 
.sprite-emo-angry{ background-position: -34px 0; width: 16px; height: 16px; } 
.sprite-emo-annoy{ background-position: -51px 0; width: 16px; height: 16px; } 
.sprite-emo-apple{ background-position: -68px 0; width: 16px; height: 16px; } 
.sprite-emo-appli01{ background-position: -85px 0; width: 16px; height: 16px; } 
.sprite-emo-appli02{ background-position: -102px 0; width: 16px; height: 16px; } 
.sprite-emo-aquarius{ background-position: -119px 0; width: 16px; height: 16px; } 
.sprite-emo-aries{ background-position: -136px 0; width: 16px; height: 16px; } 
.sprite-emo-art{ background-position: -153px 0; width: 16px; height: 16px; } 
.sprite-emo-atm{ background-position: -170px 0; width: 16px; height: 16px; } 
.sprite-emo-bag{ background-position: -187px 0; width: 16px; height: 16px; } 
.sprite-emo-ban{ background-position: -204px 0; width: 16px; height: 16px; } 
.sprite-emo-banana{ background-position: -221px 0; width: 16px; height: 16px; } 
.sprite-emo-bank{ background-position: -238px 0; width: 16px; height: 16px; } 
.sprite-emo-bar{ background-position: -255px 0; width: 16px; height: 16px; } 
.sprite-emo-baseball{ background-position: -272px 0; width: 16px; height: 16px; } 
.sprite-emo-basketball{ background-position: -289px 0; width: 16px; height: 16px; } 
.sprite-emo-bearing{ background-position: -306px 0; width: 16px; height: 16px; } 
.sprite-emo-beer{ background-position: -323px 0; width: 16px; height: 16px; } 
.sprite-emo-bell{ background-position: -340px 0; width: 16px; height: 16px; } 
.sprite-emo-bicycle{ background-position: -357px 0; width: 16px; height: 16px; } 
.sprite-emo-birthday{ background-position: -374px 0; width: 16px; height: 16px; } 
.sprite-emo-bleah{ background-position: -391px 0; width: 16px; height: 16px; } 
.sprite-emo-bomb{ background-position: -408px 0; width: 16px; height: 16px; } 
.sprite-emo-book{ background-position: -425px 0; width: 16px; height: 16px; } 
.sprite-emo-bottle{ background-position: -442px 0; width: 16px; height: 16px; } 
.sprite-emo-boutique{ background-position: -459px 0; width: 16px; height: 16px; } 
.sprite-emo-bread{ background-position: -476px 0; width: 16px; height: 16px; } 
.sprite-emo-bud{ background-position: -493px 0; width: 16px; height: 16px; } 
.sprite-emo-building{ background-position: -510px 0; width: 16px; height: 16px; } 
.sprite-emo-bullettrain{ background-position: -527px 0; width: 16px; height: 16px; } 
.sprite-emo-bus{ background-position: -544px 0; width: 16px; height: 16px; } 
.sprite-emo-by-d{ background-position: -561px 0; width: 16px; height: 16px; } 
.sprite-emo-cafe{ background-position: -578px 0; width: 16px; height: 16px; } 
.sprite-emo-cake{ background-position: -595px 0; width: 16px; height: 16px; } 
.sprite-emo-camera{ background-position: -612px 0; width: 16px; height: 16px; } 
.sprite-emo-cancer{ background-position: -629px 0; width: 16px; height: 16px; } 
.sprite-emo-capricornus{ background-position: -646px 0; width: 16px; height: 16px; } 
.sprite-emo-car{ background-position: -663px 0; width: 16px; height: 16px; } 
.sprite-emo-carouselpony{ background-position: -680px 0; width: 16px; height: 16px; } 
.sprite-emo-cat{ background-position: -697px 0; width: 16px; height: 16px; } 
.sprite-emo-catface{ background-position: -714px 0; width: 16px; height: 16px; } 
.sprite-emo-cd{ background-position: -731px 0; width: 16px; height: 16px; } 
.sprite-emo-chair{ background-position: -748px 0; width: 16px; height: 16px; } 
.sprite-emo-cherry{ background-position: -765px 0; width: 16px; height: 16px; } 
.sprite-emo-cherryblossom{ background-position: -782px 0; width: 16px; height: 16px; } 
.sprite-emo-chick{ background-position: -799px 0; width: 16px; height: 16px; } 
.sprite-emo-clear{ background-position: -816px 0; width: 16px; height: 16px; } 
.sprite-emo-clip{ background-position: -833px 0; width: 16px; height: 16px; } 
.sprite-emo-clock{ background-position: -850px 0; width: 16px; height: 16px; } 
.sprite-emo-cloud{ background-position: -867px 0; width: 16px; height: 16px; } 
.sprite-emo-clover{ background-position: -884px 0; width: 16px; height: 16px; } 
.sprite-emo-club{ background-position: -901px 0; width: 16px; height: 16px; } 
.sprite-emo-coldsweats01{ background-position: -918px 0; width: 16px; height: 16px; } 
.sprite-emo-coldsweats02{ background-position: -935px 0; width: 16px; height: 16px; } 
.sprite-emo-confident{ background-position: -952px 0; width: 16px; height: 16px; } 
.sprite-emo-copyright{ background-position: -969px 0; width: 16px; height: 16px; } 
.sprite-emo-crown{ background-position: -986px 0; width: 16px; height: 16px; } 
.sprite-emo-crying{ background-position: -1003px 0; width: 16px; height: 16px; } 
.sprite-emo-cute{ background-position: -1020px 0; width: 16px; height: 16px; } 
.sprite-emo-d-point{ background-position: -1037px 0; width: 16px; height: 16px; } 
.sprite-emo-danger{ background-position: -1054px 0; width: 16px; height: 16px; } 
.sprite-emo-dash{ background-position: -1071px 0; width: 16px; height: 16px; } 
.sprite-emo-delicious{ background-position: -1088px 0; width: 16px; height: 16px; } 
.sprite-emo-denim{ background-position: -1105px 0; width: 16px; height: 16px; } 
.sprite-emo-despair{ background-position: -1122px 0; width: 16px; height: 16px; } 
.sprite-emo-diamond{ background-position: -1139px 0; width: 16px; height: 16px; } 
.sprite-emo-dog{ background-position: -1156px 0; width: 16px; height: 16px; } 
.sprite-emo-dollar{ background-position: -1173px 0; width: 16px; height: 16px; } 
.sprite-emo-door{ background-position: -1190px 0; width: 16px; height: 16px; } 
.sprite-emo-down{ background-position: -1207px 0; width: 16px; height: 16px; } 
.sprite-emo-downwardleft{ background-position: -1224px 0; width: 16px; height: 16px; } 
.sprite-emo-downwardright{ background-position: -1241px 0; width: 16px; height: 16px; } 
.sprite-emo-drama{ background-position: -1258px 0; width: 16px; height: 16px; } 
.sprite-emo-ear{ background-position: -1275px 0; width: 16px; height: 16px; } 
.sprite-emo-eight{ background-position: -1292px 0; width: 16px; height: 16px; } 
.sprite-emo-empty{ background-position: -1309px 0; width: 16px; height: 16px; } 
.sprite-emo-end{ background-position: -1326px 0; width: 16px; height: 16px; } 
.sprite-emo-enter{ background-position: -1343px 0; width: 16px; height: 16px; } 
.sprite-emo-event{ background-position: -1360px 0; width: 16px; height: 16px; } 
.sprite-emo-eye{ background-position: -1377px 0; width: 16px; height: 16px; } 
.sprite-emo-eyeglass{ background-position: -1394px 0; width: 16px; height: 16px; } 
.sprite-emo-fastfood{ background-position: -1411px 0; width: 16px; height: 16px; } 
.sprite-emo-faxto{ background-position: -1428px 0; width: 16px; height: 16px; } 
.sprite-emo-fish{ background-position: -1445px 0; width: 16px; height: 16px; } 
.sprite-emo-five{ background-position: -1462px 0; width: 16px; height: 16px; } 
.sprite-emo-flag{ background-position: -1479px 0; width: 16px; height: 16px; } 
.sprite-emo-flair{ background-position: -1496px 0; width: 16px; height: 16px; } 
.sprite-emo-foot{ background-position: -1513px 0; width: 16px; height: 16px; } 
.sprite-emo-four{ background-position: -1530px 0; width: 16px; height: 16px; } 
.sprite-emo-free{ background-position: -1547px 0; width: 16px; height: 16px; } 
.sprite-emo-freedial{ background-position: -1564px 0; width: 16px; height: 16px; } 
.sprite-emo-fuji{ background-position: -1581px 0; width: 16px; height: 16px; } 
.sprite-emo-full{ background-position: -1598px 0; width: 16px; height: 16px; } 
.sprite-emo-fullmoon{ background-position: -1615px 0; width: 16px; height: 16px; } 
.sprite-emo-game{ background-position: -1632px 0; width: 16px; height: 16px; } 
.sprite-emo-gasstation{ background-position: -1649px 0; width: 16px; height: 16px; } 
.sprite-emo-gawk{ background-position: -1666px 0; width: 16px; height: 16px; } 
.sprite-emo-gemini{ background-position: -1683px 0; width: 16px; height: 16px; } 
.sprite-emo-golf{ background-position: -1700px 0; width: 16px; height: 16px; } 
.sprite-emo-good{ background-position: -1717px 0; width: 16px; height: 16px; } 
.sprite-emo-hairsalon{ background-position: -1734px 0; width: 16px; height: 16px; } 
.sprite-emo-happy01{ background-position: -1751px 0; width: 16px; height: 16px; } 
.sprite-emo-happy02{ background-position: -1768px 0; width: 16px; height: 16px; } 
.sprite-emo-heart{ background-position: -1785px 0; width: 16px; height: 16px; } 
.sprite-emo-heart01{ background-position: -1802px 0; width: 16px; height: 16px; } 
.sprite-emo-heart02{ background-position: -1819px 0; width: 16px; height: 16px; } 
.sprite-emo-heart03{ background-position: -1836px 0; width: 16px; height: 16px; } 
.sprite-emo-heart04{ background-position: -1853px 0; width: 16px; height: 16px; } 
.sprite-emo-horse{ background-position: -1870px 0; width: 16px; height: 16px; } 
.sprite-emo-hospital{ background-position: -1887px 0; width: 16px; height: 16px; } 
.sprite-emo-hotel{ background-position: -1904px 0; width: 16px; height: 16px; } 
.sprite-emo-house{ background-position: -1921px 0; width: 16px; height: 16px; } 
.sprite-emo-id{ background-position: -1938px 0; width: 16px; height: 16px; } 
.sprite-emo-impact{ background-position: -1955px 0; width: 16px; height: 16px; } 
.sprite-emo-info01{ background-position: -1972px 0; width: 16px; height: 16px; } 
.sprite-emo-info02{ background-position: -1989px 0; width: 16px; height: 16px; } 
.sprite-emo-japanesetea{ background-position: 0 -17px; width: 16px; height: 16px; } 
.sprite-emo-karaoke{ background-position: -17px -17px; width: 16px; height: 16px; } 
.sprite-emo-key{ background-position: -34px -17px; width: 16px; height: 16px; } 
.sprite-emo-kissmark{ background-position: -51px -17px; width: 16px; height: 16px; } 
.sprite-emo-leftright{ background-position: -68px -17px; width: 16px; height: 16px; } 
.sprite-emo-leo{ background-position: -85px -17px; width: 16px; height: 16px; } 
.sprite-emo-libra{ background-position: -102px -17px; width: 16px; height: 16px; } 
.sprite-emo-loveletter{ background-position: -119px -17px; width: 16px; height: 16px; } 
.sprite-emo-lovely{ background-position: -136px -17px; width: 16px; height: 16px; } 
.sprite-emo-mail{ background-position: -153px -17px; width: 16px; height: 16px; } 
.sprite-emo-mailto{ background-position: -170px -17px; width: 16px; height: 16px; } 
.sprite-emo-maple{ background-position: -187px -17px; width: 16px; height: 16px; } 
.sprite-emo-memo{ background-position: -204px -17px; width: 16px; height: 16px; } 
.sprite-emo-mist{ background-position: -221px -17px; width: 16px; height: 16px; } 
.sprite-emo-mobaq{ background-position: -238px -17px; width: 16px; height: 16px; } 
.sprite-emo-mobilephone{ background-position: -255px -17px; width: 16px; height: 16px; } 
.sprite-emo-moneybag{ background-position: -272px -17px; width: 16px; height: 16px; } 
.sprite-emo-moon1{ background-position: -289px -17px; width: 16px; height: 16px; } 
.sprite-emo-moon2{ background-position: -306px -17px; width: 16px; height: 16px; } 
.sprite-emo-moon3{ background-position: -323px -17px; width: 16px; height: 16px; } 
.sprite-emo-motorsports{ background-position: -340px -17px; width: 16px; height: 16px; } 
.sprite-emo-movie{ background-position: -357px -17px; width: 16px; height: 16px; } 
.sprite-emo-music{ background-position: -374px -17px; width: 16px; height: 16px; } 
.sprite-emo-new{ background-position: -391px -17px; width: 16px; height: 16px; } 
.sprite-emo-newmoon{ background-position: -408px -17px; width: 16px; height: 16px; } 
.sprite-emo-ng{ background-position: -425px -17px; width: 16px; height: 16px; } 
.sprite-emo-night{ background-position: -442px -17px; width: 16px; height: 16px; } 
.sprite-emo-nine{ background-position: -459px -17px; width: 16px; height: 16px; } 
.sprite-emo-noodle{ background-position: -476px -17px; width: 16px; height: 16px; } 
.sprite-emo-nosmoking{ background-position: -493px -17px; width: 16px; height: 16px; } 
.sprite-emo-note{ background-position: -510px -17px; width: 16px; height: 16px; } 
.sprite-emo-notes{ background-position: -527px -17px; width: 16px; height: 16px; } 
.sprite-emo-ok{ background-position: -544px -17px; width: 16px; height: 16px; } 
.sprite-emo-on{ background-position: -561px -17px; width: 16px; height: 16px; } 
.sprite-emo-one{ background-position: -578px -17px; width: 16px; height: 16px; } 
.sprite-emo-paper{ background-position: -595px -17px; width: 16px; height: 16px; } 
.sprite-emo-parking{ background-position: -612px -17px; width: 16px; height: 16px; } 
.sprite-emo-pass{ background-position: -629px -17px; width: 16px; height: 16px; } 
.sprite-emo-pc{ background-position: -646px -17px; width: 16px; height: 16px; } 
.sprite-emo-pen{ background-position: -663px -17px; width: 16px; height: 16px; } 
.sprite-emo-pencil{ background-position: -680px -17px; width: 16px; height: 16px; } 
.sprite-emo-penguin{ background-position: -697px -17px; width: 16px; height: 16px; } 
.sprite-emo-phoneto{ background-position: -714px -17px; width: 16px; height: 16px; } 
.sprite-emo-pig{ background-position: -731px -17px; width: 16px; height: 16px; } 
.sprite-emo-pisces{ background-position: -748px -17px; width: 16px; height: 16px; } 
.sprite-emo-pocketbell{ background-position: -765px -17px; width: 16px; height: 16px; } 
.sprite-emo-postoffice{ background-position: -782px -17px; width: 16px; height: 16px; } 
.sprite-emo-pouch{ background-position: -799px -17px; width: 16px; height: 16px; } 
.sprite-emo-pout{ background-position: -816px -17px; width: 16px; height: 16px; } 
.sprite-emo-present{ background-position: -833px -17px; width: 16px; height: 16px; } 
.sprite-emo-punch{ background-position: -850px -17px; width: 16px; height: 16px; } 
.sprite-emo-r-mark{ background-position: -867px -17px; width: 16px; height: 16px; } 
.sprite-emo-rain{ background-position: -884px -17px; width: 16px; height: 16px; } 
.sprite-emo-recycle{ background-position: -901px -17px; width: 16px; height: 16px; } 
.sprite-emo-restaurant{ background-position: -918px -17px; width: 16px; height: 16px; } 
.sprite-emo-ribbon{ background-position: -935px -17px; width: 16px; height: 16px; } 
.sprite-emo-riceball{ background-position: -952px -17px; width: 16px; height: 16px; } 
.sprite-emo-ring{ background-position: -969px -17px; width: 16px; height: 16px; } 
.sprite-emo-rock{ background-position: -986px -17px; width: 16px; height: 16px; } 
.sprite-emo-rouge{ background-position: -1003px -17px; width: 16px; height: 16px; } 
.sprite-emo-run{ background-position: -1020px -17px; width: 16px; height: 16px; } 
.sprite-emo-rvcar{ background-position: -1037px -17px; width: 16px; height: 16px; } 
.sprite-emo-sad{ background-position: -1054px -17px; width: 16px; height: 16px; } 
.sprite-emo-sagittarius{ background-position: -1071px -17px; width: 16px; height: 16px; } 
.sprite-emo-sandclock{ background-position: -1088px -17px; width: 16px; height: 16px; } 
.sprite-emo-school{ background-position: -1105px -17px; width: 16px; height: 16px; } 
.sprite-emo-scissors{ background-position: -1122px -17px; width: 16px; height: 16px; } 
.sprite-emo-scorpius{ background-position: -1139px -17px; width: 16px; height: 16px; } 
.sprite-emo-search{ background-position: -1156px -17px; width: 16px; height: 16px; } 
.sprite-emo-secret{ background-position: -1173px -17px; width: 16px; height: 16px; } 
.sprite-emo-seven{ background-position: -1190px -17px; width: 16px; height: 16px; } 
.sprite-emo-shadow{ background-position: -1207px -17px; width: 16px; height: 16px; } 
.sprite-emo-sharp{ background-position: -1224px -17px; width: 16px; height: 16px; } 
.sprite-emo-shine{ background-position: -1241px -17px; width: 16px; height: 16px; } 
.sprite-emo-ship{ background-position: -1258px -17px; width: 16px; height: 16px; } 
.sprite-emo-shock{ background-position: -1275px -17px; width: 16px; height: 16px; } 
.sprite-emo-shoe{ background-position: -1292px -17px; width: 16px; height: 16px; } 
.sprite-emo-sign01{ background-position: -1309px -17px; width: 16px; height: 16px; } 
.sprite-emo-sign02{ background-position: -1326px -17px; width: 16px; height: 16px; } 
.sprite-emo-sign03{ background-position: -1343px -17px; width: 16px; height: 16px; } 
.sprite-emo-sign04{ background-position: -1360px -17px; width: 16px; height: 16px; } 
.sprite-emo-sign05{ background-position: -1377px -17px; width: 16px; height: 16px; } 
.sprite-emo-signaler{ background-position: -1394px -17px; width: 16px; height: 16px; } 
.sprite-emo-six{ background-position: -1411px -17px; width: 16px; height: 16px; } 
.sprite-emo-ski{ background-position: -1428px -17px; width: 16px; height: 16px; } 
.sprite-emo-slate{ background-position: -1445px -17px; width: 16px; height: 16px; } 
.sprite-emo-sleepy{ background-position: -1462px -17px; width: 16px; height: 16px; } 
.sprite-emo-smile{ background-position: -1479px -17px; width: 16px; height: 16px; } 
.sprite-emo-smoking{ background-position: -1496px -17px; width: 16px; height: 16px; } 
.sprite-emo-snail{ background-position: -1513px -17px; width: 16px; height: 16px; } 
.sprite-emo-snow{ background-position: -1530px -17px; width: 16px; height: 16px; } 
.sprite-emo-snowboard{ background-position: -1547px -17px; width: 16px; height: 16px; } 
.sprite-emo-soccer{ background-position: -1564px -17px; width: 16px; height: 16px; } 
.sprite-emo-soon{ background-position: -1581px -17px; width: 16px; height: 16px; } 
.sprite-emo-spa{ background-position: -1598px -17px; width: 16px; height: 16px; } 
.sprite-emo-spade{ background-position: -1615px -17px; width: 16px; height: 16px; } 
.sprite-emo-sports{ background-position: -1632px -17px; width: 16px; height: 16px; } 
.sprite-emo-sprinkle{ background-position: -1649px -17px; width: 16px; height: 16px; } 
.sprite-emo-subway{ background-position: -1666px -17px; width: 16px; height: 16px; } 
.sprite-emo-sun{ background-position: -1683px -17px; width: 16px; height: 16px; } 
.sprite-emo-sweat01{ background-position: -1700px -17px; width: 16px; height: 16px; } 
.sprite-emo-sweat02{ background-position: -1717px -17px; width: 16px; height: 16px; } 
.sprite-emo-t-shirt{ background-position: -1734px -17px; width: 16px; height: 16px; } 
.sprite-emo-taurus{ background-position: -1751px -17px; width: 16px; height: 16px; } 
.sprite-emo-telephone{ background-position: -1768px -17px; width: 16px; height: 16px; } 
.sprite-emo-tennis{ background-position: -1785px -17px; width: 16px; height: 16px; } 
.sprite-emo-think{ background-position: -1802px -17px; width: 16px; height: 16px; } 
.sprite-emo-three{ background-position: -1819px -17px; width: 16px; height: 16px; } 
.sprite-emo-thunder{ background-position: -1836px -17px; width: 16px; height: 16px; } 
.sprite-emo-ticket{ background-position: -1853px -17px; width: 16px; height: 16px; } 
.sprite-emo-tm{ background-position: -1870px -17px; width: 16px; height: 16px; } 
.sprite-emo-toilet{ background-position: -1887px -17px; width: 16px; height: 16px; } 
.sprite-emo-train{ background-position: -1904px -17px; width: 16px; height: 16px; } 
.sprite-emo-tulip{ background-position: -1921px -17px; width: 16px; height: 16px; } 
.sprite-emo-tv{ background-position: -1938px -17px; width: 16px; height: 16px; } 
.sprite-emo-two{ background-position: -1955px -17px; width: 16px; height: 16px; } 
.sprite-emo-typhoon{ background-position: -1972px -17px; width: 16px; height: 16px; } 
.sprite-emo-up{ background-position: -1989px -17px; width: 16px; height: 16px; } 
.sprite-emo-updown{ background-position: 0 -34px; width: 16px; height: 16px; } 
.sprite-emo-upwardleft{ background-position: -17px -34px; width: 16px; height: 16px; } 
.sprite-emo-upwardright{ background-position: -34px -34px; width: 16px; height: 16px; } 
.sprite-emo-virgo{ background-position: -51px -34px; width: 16px; height: 16px; } 
.sprite-emo-watch{ background-position: -68px -34px; width: 16px; height: 16px; } 
.sprite-emo-wave{ background-position: -85px -34px; width: 16px; height: 16px; } 
.sprite-emo-weep{ background-position: -102px -34px; width: 16px; height: 16px; } 
.sprite-emo-wheelchair{ background-position: -119px -34px; width: 16px; height: 16px; } 
.sprite-emo-wine{ background-position: -136px -34px; width: 16px; height: 16px; } 
.sprite-emo-wink{ background-position: -153px -34px; width: 16px; height: 16px; } 
.sprite-emo-wobbly{ background-position: -170px -34px; width: 16px; height: 16px; } 
.sprite-emo-wrench{ background-position: -187px -34px; width: 16px; height: 16px; } 
.sprite-emo-xmas{ background-position: -204px -34px; width: 16px; height: 16px; } 
.sprite-emo-yacht{ background-position: -221px -34px; width: 16px; height: 16px; } 
.sprite-emo-yen{ background-position: -238px -34px; width: 16px; height: 16px; } 
.sprite-emo-zero{ background-position: -255px -34px; width: 16px; height: 16px; } 

