@charset "utf-8";

/**************************************** 
  event **/
.cc-e-cal {
  display:table;
  width:100%;
  border-right:1px solid #c0c0c0;
  color:#888;
  box-shadow:2px 2px 1px #eee;
  margin-top:8px;
}

.cc-e-cal .t-body > li,
.cc-e-cal .t-head > li {
  display:table-cell;
  border-bottom:1px solid #c0c0c0;
  width: 100px;
}
.cc-e-cal .t-body > li {
  border-left:1px solid #c0c0c0;
  border-bottom:1px solid #c0c0c0;
  -webkit-transition: all .3s linear 0;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear 0;
  -ms-transition: all .3s linear 0;
}

.cc-e-cal .t-body > li:hover {
   background-color:lightYellow;
}

.cc-e-cal .t-body {
  display:table-row;
  background-color:#fff;
  height:74px;
}

.cc-e-cal .t-head {
  display:table-row;
}

.cc-e-out-day {
  background-color:#f9f9f9;
}

.cc-e-today {
  background-color:#ffefda;
}

.cc-e-current-month-text { 
  font-size: 20px;
  line-height:20px;
  padding-top: 8px;
  padding-right: 24px;
  text-shadow: 1px 1px 1px #fff;
}

.datepicker {
	width:100px!important;
}

.timepicker {
	width:50px!important;
}

.e-create-form #map-canvas {
	width:394px;
	height:300px;
}

.e-image-upload-panel {
  text-align:center;
  width:126px;
  height:95px;
  position:relative;
  overflow:hidden;
  border:1px dotted #ccc;
}

.e-icn-upload {
  font-size:53px;
  display:block;
}

.e-image-upload-panel .form-file {
  opacity: 0;
  font-size: 95px;
  height: 95px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor:pointer;
}

/** endof event
*****************************************/
